h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h5 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
}

.background-container {
	max-width: 100%;
	margin: 0;

	.background-img {
		position: fixed;
		width: 100vw;
		height: 100vh;
	}
}

.top-container {
	background-color: rgb(46, 46, 46);
	max-width: 100%;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	opacity: .85;

	.nav-container {
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		margin-right: 60px;

		.nav-link {
			color: white;
		}

		.nav-link:hover {
			color: #FFB343;
		}
	}
}

.transparent-container {
	height: 100vh;
	width: 100%;
}

.main-container {
    max-width: 1024px;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: lighter;
	font-size: 14px;
	text-align: justify;
	margin: auto;
	opacity: 0.9;
    
    .left-container {
		background-color: #FFB343;
		color: rgb(44, 44, 44);
		text-shadow: 3px 2px rgb(226, 160, 60);
		
		.left-flex-container {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;

			.custom-container {
				// border: 1px solid blue;
				margin-bottom: 12px;
			}
		}

        .image-container {
            // border: 1px solid blue;
            display: flex;
            justify-content: center;
            padding: 30px 20px;

            .my-image {
                border-radius: 500px;
                width: 200px;
                height: 200px;
            }
		}
		
		.language-container {
			// border: 1px solid blue;
			width: 50%;
			padding: 10px 20px;
			// display: flex;
			// flex-wrap: wrap;
			// justify-content: space-around;
			// align-items: center;

			.flag-icon {
				border-radius: 500px;
				width: 55px;
				height: 55px;
			}

			h5 {
				// border: 1px solid blue;
				margin: 0;
			}
		}

		.social-icons-container {
			padding: 10px 0;
			display: flex;
			align-items: center;

			.social-icon {
				width: 40px;
				height: 40px;
				border-radius: 500px;
				cursor: pointer;
			}

			.social-icon:hover {
				width: 50px;
				height: 50px;
				box-shadow: 5px 5px 15px black;
			}

			.github-icon {
				width: 45px;
				height: 45px;
			}
		}
    }

    .right-container {
		background-color: #374351;

		.name-container {
			padding: 40px 0;

			.my-name {
				font-size: 60px;
			}
		}
    }
}

.main-container:hover {
	opacity: 1;
}

.footer-container {
    color: white;
    font-weight: lighter;
    background-color: rgb(46, 46, 46);
    padding: 20px 20px 40px;
    margin: 0;
}