h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.background-container {
	max-width: 100%;
	margin: 0;
	position: absolute;

	.background-img {
		position: fixed;
		width: 100vw;
		height: 100vh;
	}
}

.top-container {
	background-color: rgb(46, 46, 46);
	max-width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	opacity: .85;

	.nav-container {
		width: 1024px;
		padding: 10px 0;

		.nav-main-container {
			display: flex;
			justify-content: flex-end;
			margin: 0;
		}

		.nav-link {
			color: white;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}

		.nav-link:hover {
			color: #FFB343;
		}
	}
}

.transparent-container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	h1 {
		color: white;
		text-align: center;
		font-size: 120px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
}

.main-container {
    max-width: 1024px;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: lighter;
	font-size: 14px;
	text-align: justify;
	margin: auto;
	opacity: 0.9;
    
    .left-container {
		background-color: #FFB343;
		color: rgb(44, 44, 44);
		text-shadow: 3px 2px rgb(226, 160, 60);
		
		.left-flex-container {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;

			.custom-container {
				// border: 1px solid blue;
				margin-bottom: 12px;
			}
		}

        .image-container {
            // border: 1px solid blue;
            display: flex;
            justify-content: center;
            padding: 30px 20px;

            .my-image {
                border-radius: 500px;
                width: 200px;
                height: 200px;
            }
		}
		
		.language-container {
			width: 50%;
			padding: 10px 20px;

			.flag-icon {
				border-radius: 500px;
				width: 55px;
				height: 55px;
			}

			h5 {
				margin: 0;
			}
		}

		.education-container {
			
			.about-info {
				margin-bottom: 20px;
			}
		}
    }

    .right-container {
		background-color: #313c49;

		.name-container {
			padding: 40px 0;

			.my-name {
				font-size: 60px;
			}
		}
    }
}

.main-container:hover {
	opacity: 1;
}

.about-info { // ================ icons edition================
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	i {
		font-size: 30px;
	}

	h1 {
		margin: 0;
		padding: 0 5px;
	}
}

.bullet-point { // =============== bullet points edition ===========
	display: flex;
	align-items: flex-start;

	i {
		margin: 5px 5px 0 0;;
	}
}

.footer-container {
	max-width: 100%;
	display: flex;
	justify-content: center;
    color: white;
    font-weight: lighter;
    background-color: rgb(46, 46, 46);
	padding: 50px 0;
	margin: 100vh 0 0;
	opacity: .8;

	.footer-main-container {
		width: 1024px;
		display: flex;
		justify-content: space-between;
	}

	.contact-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.contact-info {
			display: flex;
			margin: 0 10px;

			i {
				font-size: 18px;
				margin-top: 4px;
			}

			h4 {
				margin: 0 10px;
				font-size: 18px;
			}
		}

		.contact-info:hover {
			color: #FFB343;
		}
	}

	h1 {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	.social-icons-container {
		padding: 10px 0;
		display: flex;
		align-items: center;
		position: relative;
		justify-content: flex-end;

		.social-icon {
			width: 40px;
			height: 40px;
			border-radius: 500px;
			cursor: pointer;
			margin: 0 10px 0 10px;
		}

		.social-icon:hover {
			box-shadow: 5px 5px 15px black;
		}

		.github-icon {
			width: 45px;
			height: 45px;
		}
	}
}